.book_page {
  width: 95vw;
  height: 95vh;
  background-color: #000;
  padding: 1px;
  gap: 20px;
  margin-top: 2rem;
}
.logo h5 {
  color: rgb(239, 231, 210);
  font-size: 1.8rem;
  font-family: inherit;
  cursor: pointer;
  margin-left: 0.5rem;
  text-transform: uppercase;
}
.logo span {
  font-family: "sushi-font-1";
  font-size: 2.2rem;
}
.left_side {
  background-image: url("https://framerusercontent.com/images/GFiteaJ9X1ZXtx4cQeiT1DzpA.webp");
  background-size: cover;
  width: 60%;
  height: 93vh;
  opacity: 0.9;
  border-radius: 30px;
}
.navbar_book {
  position: absolute;
  top: 10%;
  left: 4%;
  width: 33rem;
  border-radius: 10px;
  padding: 10px;
}
.navbar_content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  height: 45px;
  background-color: transparent;
}
.nav_link_wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
  background-color: #fff;
}
.hamburger .line1,
.line2,
.line3 {
  width: 25px;
  height: 3px;
  background: rgb(239, 231, 210);
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: block;
  cursor: pointer;
  transform: translate(-5%, -50%);
  margin-top: 3rem;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid #4c4c4c;
  margin-left: 0.5rem;
  position: relative;
  background-color: transparent;
  z-index: 201;
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
  transition: all 0.7s ease;
  width: 0;
}
.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px);
}
.navbar_book .link {
  margin: 10px;
  background: transparent;
  color: rgb(239, 231, 210);
  font-family: "sushi-font-2";
  font-size: 0.87rem;
  padding: 10px;
  text-transform: uppercase;
  
}
.navbar_book .link:hover {
  border: 1px solid rgb(239, 231, 210);
  border-radius: 10px;
}
.border {
  border: 1px solid #4c4c4c;
  border-radius: 10px;
}
.book_heading h1 {
  font-size: 6rem;
  font-family: "sushi-font-1";
  color: rgb(239, 231, 210);
  position: absolute;
  bottom: 5%;
  text-transform: uppercase;
  left: 5%;
  line-height: 1;
  background: transparent;
}
.right_side {
  background: #000;
  width: 55%;
}

.Content_1 {
  width: 400px;
  height: 300px;
  background: #ffff;
  border-radius: 20px;
}
.content_right {
  width: 400px;
  height: 300px;
  border-radius: 20px;
  background: #ff22;
}
.day,
.time {
  font-size: 1.1rem;
  color: rgb(239, 231, 210);
  text-transform: capitalize;
  font-family: "sushi-font-5";
}
.dots {
  margin: 0 20px;
  color: #4c4c4c;
  padding-bottom: 1rem;
}
.opening_head {
  font-size: 1.6rem;
  margin-top: 0.7rem;
  text-align: center;
  text-transform: uppercase;
  color: rgb(239, 231, 210);
  font-family: "sushi-font-5";
}
.right_side_d_three,
.right_side_d_two {
  width: 400px;
  border-radius: 15px;
  /* padding: 25px; */
  height: 330px;
}
.img_wrapper {
  overflow: hidden;
  border-radius: 10px;
  width: 200px; /* Make sure images don't exceed the grid cell */
  height: 140px;
}
.img_wrapper img {
  width: 200px; /* Make sure images don't exceed the grid cell */
  height: 140px;
  margin: 0 10px;
  border-radius: 10px;
  -webkit-transform: scale(1);
  transform: scale(1);
  opacity: 0.7;
  object-fit: cover;
  cursor: pointer;
  transition: all 0.4s ease;
}
.img_wrapper img:hover {
  transform: scale(1.1);
  opacity: 1;
  -webkit-transform: scale(1.1);
}

.left_side_d_three,
.left_side_d_two,
.right_side_d_two {
  border-radius: 15px;
  width: 400px;
  border: 1px solid #4c4c4c;
  height: 330px;
}
.right_side_bottom h4 {
  color: rgb(239, 231, 210);
  font-size: 1.2rem;
  opacity: 0.8;
  margin-top: 4px;
  text-align: center;
  font-family: "sushi-font-1";
}
.right_side_bottom {
  border: 1px solid #4c4c4c;
  padding: 20px;
  border-radius: 20px;
  width: 100%;
  height: 80px;
  margin-top: 1rem;
}

 .menu {
  /* background-image: url("public/foodimg/map-5911003_1280.jpg"); */
} 
.menu {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  background-size: cover;
  position: relative;
  cursor: pointer;
  opacity: 0.7;
  transition: all 1s ease;
}
.img_menu {
  position: absolute;
  right: 0%;
  bottom: 0%;
  min-width: 160px;
  height: 50px;
  border-top-left-radius: 24px;
  padding: 8px 0 0 16px;
  text-align: center;
}
.menu:hover {
  opacity: 1;
}
.menu h5 {
  color: rgb(239, 231, 210);
  border-top-left-radius: 20px;
  font-family: "sushi-font-1";
  font-size: 1.1rem;
  text-transform: uppercase;
  margin-top: 5px;
}
.list_con {
  height: 50px;
  margin: 15px 20px;
}
.list_con_1 {
  height: 60px;
  margin: 15px 20px;
}
.getintouch {
  width: 180px;
  font-size: 1.2rem;
  color: rgb(239, 231, 210);
  text-transform: capitalize;
  font-family: "sushi-font-5";
}

.list_con .day {
  font-size: 1.2rem;
}
.links_wrapper i {
  width: 20px;
  height: 20px;
  padding-left: 10px;
  padding-top: 10px;
  color: #fff;
  margin: 10px;
  cursor: pointer;

  background: transparent;
  font-size: 1rem;
}
@media (max-width: 768px) {
  .book_page {
    flex-direction: column;
    height: auto;
    width: auto;
  }
  .mobile {
    display: none;
  }
  .navbar_book .link {
    margin: 0;
  }
  .navbar_book {
    width: 90%;
    margin: auto;
    margin-top: 2rem;
    position: relative;
    top: auto;
    left: auto;
  }
  .left_side {
    height: 45vh;
    width: 100%;
  }
  .book_heading h1 {
    font-size: 4rem;
    top: 40%;
    height: 40px;
    text-transform: uppercase;
    left: 10%;
  }
  .div_three {
    flex-direction: column;
  }
  .img_wrapper {
    width: 180px;
  }
  .img_1 {
    justify-content: start !important;
  }
  .left_side_d_three,
  .left_side_d_two,
  .right_side_d_two {
    width: 100%;
  }
  .right_side_bottom {
    padding: 10px;
  }
  .right_side_bottom h4 {
    font-size: 1rem;
    margin-top: 16px;
  }
  .img_wrapper img{
    margin-left: 10px;
  }
}
